* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    box-sizing: border-box;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

/* Estilo de la navegación */

nav {
    display: flex;
    padding: 10px 20px;
    border-bottom: solid black 2px;
}

nav > a {
    flex-grow: 5;
}

.nav-lista {
    display: flex;
    flex-grow: 6;
    flex-wrap: wrap;
}

.nav-lista__item {
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
}

footer {
    display: flex;
    width: 100%;
    align-items: center;
    padding: 10px 20px;
    color: #fff;
    background-color: #000;
}

footer > h2 {
    display: inline-block;
}

footer > div {
    display: inline-block;
    text-align: right;
    margin-left: auto;
}

footer > div > a {
    display: block;
}

/* Estilo de la página principal */

.homepage-main {
    display: flex;
    padding: 60px 20px;
    min-height: calc(100vh - 50px);
}

.homepage-main > div {
    width: 50%;
    height: 100%;
    margin-right: 80px;
}

.homepage-main > div > h1 {
    font-size: 50px;
    padding-bottom: 40px;
}

.homepage-main > div > p {
    width: 100%;
    font-size: 20px;
    line-height: 30px;
}

.homepage-main > div > div {
    display: flex;
    width: 100%;
    justify-content: center;
}

.homepage-main > div > div > a {
    width: 40%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 70px;
}

.homepage-main > div > div > a > button {
    width: 100%;
    height: 40px;
}

.homepage-main > img {
    width: 50%;
    object-fit: cover;
}

/* Estilo de la página de inicio de sesión y registro */

.login-main, .registro-main {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    padding: 50px 20px;
    min-height: calc(100vh - 50px);
}

.login-main > h1, .registro-main > h1 {
    width: 100%;
    text-align: center;
}

.login-main > form, .registro-main > form {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 30%;
    margin-top: 70px;
}

.login-main > form > fieldset, .registro-main > form > fieldset {
    width: 100%;
    margin-bottom: 100px;
}

.login-main > form > fieldset > input, .registro-main > form > fieldset > input {
    width: 100%;
}

.login-main > form > button, .registro-main > form > button {
    width: 60%;
    margin-top: -20px;
    height: 30px;
}

.login-main > p, .registro-main > p {
    margin-top: 20px;
    width: 100%;
    text-align: center;
}

/* Estilo de la página de perfil */

.perfil-main {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    min-height: calc(100vh - 50px);
}

.perfil-main > img {
    margin-top: 50px;
    border-radius: 50%;
    margin-left: 30%;
    margin-right: 30%;
    object-fit: cover;
    min-width: 100px;
    min-height: 100px;
    width: 20vw;
    height: 20vw;
}

.perfil-main > h1 {
    margin-top: 20px;
    margin-left: 100%;
    margin-right: 100%;
}

.perfil-main > h2 {
    margin-top: 30px;
    margin-left: 100%;
    margin-right: 100%;
}

.perfil-main > h3 {
    margin-top: 20px;
    text-align: center;
}

.perfil-main > a {
    margin-left: 100%;
    margin-right: 100%;
    min-width: max-content;
    margin-top: 50px;
}

.perfil-main > a > button {
    width: 200px;
    height: 50px;
    font-weight: bold;
    margin-bottom: 30px;
}

/* Estilo de página upload */

.upload-main {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    min-height: calc(100vh - 50px);
}

.upload-main > h1 {
    min-width: max-content;
    margin-top: 50px;
    margin-right: 100%;
    margin-left: 100%;
}

.upload-main > div {
    min-width: max-content;
    margin-top: 50px;
    margin-right: 100%;
    margin-left: 100%;
    margin-bottom: 50px;
}

.upload-main > div > form {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.upload-main > div > form > fieldset {
    min-width: max-content;
    margin-top: 50px;
    margin-right: 100%;
    margin-left: 100%;
    margin-bottom: 50px;
}

.upload-main > div > form > button {
    width: 100px;
    height: 30px;
}

/* Estilo de página de exploración */

.explorar-main {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    min-height: calc(100vh - 50px);
}

.explorar-main > h1 {
    text-align: center;
    margin-left: 100%;
    margin-right: 100%;
    margin-top: 50px;
}

.explorar-main > h3 {
    min-width: max-content;
    text-align: center;
    margin-left: 100%;
    margin-right: 100%;
    margin-top: 40px;
}

.explorar-main > div, .perfil-main > div {
    margin-top: 40px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.explorar-main > div > a, .perfil-main > div > a {
    min-width: 200px;
    max-width: 300px;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 50px;
}

.explorar-main > div > a > img, .perfil-main > div > a > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.explorar-main > div > a > p, .perfil-main > div > a > p {
    text-align: center;
    margin-top: 10px;
    font-weight: bold;
}

/* Estilo de página de muestra del contenido */

.show-main {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    min-height: calc(100vh - 50px);
}

.show-main > h1 {
    min-width: max-content;
    margin-left: 100%;
    margin-right: 100%;
    margin-top: 50px;
}

.show-main > a {
    min-width: max-content;
    margin-left: 100%;
    margin-right: 100%;
    margin-top: 30px;
}

.show-main > img {
    margin-top: 20px;
    margin-bottom: 20px;
}

.show-main > div {
    width: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.show-main > div > img {
    margin-left: 100%;
    margin-right: 100%;
    min-width: max-content;
}

.show-main > div > audio {
    margin-top: 50px;
    margin-bottom: 50px;
}